<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581389337343-l9ude6h8jtlen3bjogq0k8ev7kqme2hm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581389337343-l9ude6h8jtlen3bjogq0k8ev7kqme2hm</string>
	<key>API_KEY</key>
	<string>AIzaSyBMXXb3PYE5DSuL3jUsGF0BLKCf8NBO374</string>
	<key>GCM_SENDER_ID</key>
	<string>581389337343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.lmu.BareBonesBlogCootauco</string>
	<key>PROJECT_ID</key>
	<string>bare-bones-blog-3bcfe</string>
	<key>STORAGE_BUCKET</key>
	<string>bare-bones-blog-3bcfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581389337343:ios:ed9207db38ed1cf91dc2ca</string>
</dict>
</plist>